:root {
  --primary-color: rgba(255, 134, 134, 0.9);
  --secondary-color: #585858;
  --heading-color: #003367;
  --main-font: 'Montserrat', sans-serif;
  --heading-font: 'Raleway', sans-serif;
  --border-radius: 20px
}
